*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #e3eaed;
}
body::-webkit-scrollbar{
    display: none;
}
/* <<<<<NAVBAR START HERE>>>>> */
.navbar{
    padding: 1.3rem 0;
    background-color: #ffffff;
}
.navbar .container .nav-text span{
    padding: 0 .35rem;
    border-radius: .4rem;
    color: white;
    background-color: red;
    font-size: 1.2rem;
}
.navbar .nav-text{
    font-size: 1.25rem;
}
.navbar .nav-text:hover{
    color: red;
}
.navbar .nav-item .nav-shop{
    color: red;
}
.navbar .icon{
    font-size: 1.5rem;
    margin-right: .5rem;
}
.navbar .icon a{
    color: #000;
}
.navbar .icon a:hover{
    color: red;
}
/* NAVBAR END */

/* PRODUCT SECTION START */
.products{
    padding: 3rem 0;
    display: flex;
    justify-content: center;
}
.products .product-container{
    width: 95%;
    background-color: #ffffff;
    padding:0 2rem 0 2rem;
    border-radius: 1.5rem;
}
.products .product-container .deal-heading{
    padding: 2rem 0;
    text-align: center;
}
.products .product-container .row .product-wrap{
    padding: 0 .3rem;
}
.row .product-wrap .product-image{
    display: flex;
    justify-content: center;
    position: relative;
}
.row .product-wrap .product-image .image{
    height: 19.5rem;
    width: 100%;
    border-radius: .5rem .5rem 0rem 0rem;
    overflow: hidden;
}
.row .product-wrap .product-image img{
    height: 100%;
    width: 100%;
    transition: all .3s ease-in ;
}
.row .product-wrap .product-image:hover img{
    transform: scale(1.1);
}
.row .product-wrap .product-image .view, .wishlist{
    position: absolute;
    bottom: 1.5rem;
    border: none;
    transition: all .3s ease-in-out;
    opacity: 0;
    background-color: #ffffff;
}
.row .product-wrap .product-image .view{
    left: 50%;
    transform: translateX(-78%);
    padding: 7px 16px;
    color: #000000;
    text-decoration: none;
    border-radius: 20px;

}
.row .product-wrap .product-image .wishlist{
    right: 50%;
    transform: translateX(220%);
    padding: .39rem .67rem;
    border-radius: 50%;
}
.row .product-wrap .product-image:hover .wishlist{
    opacity: 1;
}
.row .product-wrap .product-image .wishlist:hover{
    color:#ffffff;
    background-color: red;
}
.row .product-wrap .product-image .view:hover{
    color:#ffffff;
    background-color: red;
}
.row .product-wrap .product-image:hover .view{
    opacity: 1;
}
.row .product-wrap .product-details{
    padding: .5rem;
    display: flex;
    flex-direction: column;
}
.row .product-wrap .product-details .p-text{
    color: #7c7c7c;
    line-height: 1.1rem;
}
.row .product-wrap .product-details .price{
    font-size: 1rem;
    color: #666;
}
/* PRODUCT SECTION END */

/* FOOTER SECTION START */
.footer{
    padding: 2rem 2rem .5rem 2rem;
    background-color: black;
}
.footer .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer h4{
    margin-bottom: .8rem;
    color: #ffffff; 
}
.footer ul li{
    margin-bottom: .2rem;
    list-style: none;
}
.footer .sec a,p{
    color: #ffffff; 
    text-decoration: none;
}
.sec ul li,h4{
    text-align: center;
}
.footer .sec, .location{
    width: 12rem;
}
.footer .copy-right p{
    margin: 0;
    text-align: center;
    color: #ffffff; 
}
.footer .info .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.footer .info .social a{
    color: #ffffff;
    margin-right: .7rem;
}
.footer hr{
    color: #ffffff;
}
/* FOOTER SECTION END */

@media screen and (max-width:1024px) {
    .navbar{
        position: static;
    }
    .products .product-container .row .product-wrap .product-image .image{
        height: 13rem;
    }

    .products .product-container{
        padding:0 .9rem 2rem .9rem;
    }
    
    .footer .sec, .footer .location {
        width: 100%;
        text-align: center;
    }

    .footer .info {
        flex-direction: column;
    }
}
@media (max-width: 768px){
    .nav-icon{
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width: 480px) {
    .footer .sec, .footer .location {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }

    .footer .info {
        flex-direction: column;
    }
}
