*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #e3eaed;
}
body::-webkit-scrollbar{
    display: none;
}
/* NAVBAR START */
.navbar{
    padding: 1.3rem 0;
    z-index: 3;
    position: absolute;
    top: 0;
}
.navbar .container .nav-text span{
    padding: 0 .35rem;
    border-radius: .4rem;
    color: white;
    background-color: red;
    font-size: 1.2rem;
}
.navbar .nav-text{
    font-size: 1.25rem;
}
.navbar .nav-text:hover{
    color: red;
}
.navbar .nav-item .nav-home{
    color: red;
}
.navbar .icon{
    font-size: 1.5rem;
    margin-right: .5rem;
}
.navbar .icon a{
    color: #000;
}
.navbar .icon a:hover{
    color: red;
}
/* NAVBAR START */

/* CAROUSEL START */
.carousel .carousel-inner .carousel-image .carousel-text{
    width: 26rem;
    position: absolute;
    top: 20rem;
}
.carousel .carousel-inner .carousel-image .carousel-women{
    left: 13rem;
}
.carousel .carousel-inner .carousel-image .carousel-men{
    right: 13rem;
}
.carousel .carousel-inner .carousel-image .carousel-new{
    top: 17rem;
    right: 7.7rem;
}
.carousel .carousel-inner .carousel-image .carousel-text h1{
    font-family: 'Dancing Script', cursive;
    color: red;
}
.carousel .carousel-inner .carousel-image .carousel-text p{
    color: #000000;
    font-size: 1.1rem;
}
.carousel .carousel-inner .carousel-image .carousel-text .shop-now{
    font-size: 1.5rem;
    border: none;
    text-decoration: underline red;
    background-color: transparent;
}
/* CAROUSEL END */

/* PRODUCT SECTION START */
.products{
    padding: 3rem 0;
    display: flex;
    justify-content: center;
}
.products .product-container{
    width: 95%;
    background-color: #ffffff;
    padding:0 3rem 0 3rem;
    border-radius: 1.5rem;
}
.products .product-container .deal-heading{
    padding: 2rem 0;
    text-align: center;
}
.products .product-container .row .product-wrap{
    padding: 0 .3rem;
}
.row .product-wrap .product-image{
    display: flex;
    justify-content: center;
    position: relative;
}
.row .product-wrap .product-image .image{
    height: 19.5rem;
    width: 100%;
    border-radius: .5rem .5rem 0rem 0rem;
    overflow: hidden;
}
.row .product-wrap .product-image img{
    height: 100%;
    width: 100%;
    transition: all .3s ease-in ;
}
.row .product-wrap .product-image .view, .wishlist{
    position: absolute;
    bottom: 1.5rem;
    border: none;
    transition: all .3s ease-in-out;
    opacity: 0;
    background-color: #ffffff;
}
.row .product-wrap .product-image .view{
    left: 50%;
    transform: translateX(-78%);
    padding: 7px 16px;
    color: #000000;
    text-decoration: none;
    border-radius: 20px;

}
.row .product-wrap .product-image .wishlist{
    right: 50%;
    transform: translateX(220%);
    padding: .39rem .67rem;
    border-radius: 50%;
}
.row .product-wrap .product-image:hover .wishlist{
    opacity: 1;
}
.row .product-wrap .product-image .wishlist:hover{
    color:#ffffff;
    background-color: red;
}
.row .product-wrap .product-image:hover img{
    transform: scale(1.1);
}
.row .product-wrap .product-image .view:hover{
    color:#ffffff;
    background-color: red;
}
.row .product-wrap .product-image:hover .view{
    opacity: 1;
}
.row .product-wrap .product-details{
    padding: .5rem;
    display: flex;
    flex-direction: column;
}
.row .product-wrap .product-details .p-text{
    color: #7c7c7c;
    line-height: 1.1rem;
}
.row .product-wrap .product-details .price{
    font-size: 1rem;
    color: #666;
}
.products .product-container .view-all{
    padding: 2.5rem 0;
    display: flex;
    justify-content: center;
}
.products .product-container .view-all a{
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    padding: .35rem .8rem;
    background-color: #dedede;
    border-radius: 1.3rem;
}
.products .product-container .view-all a:hover{
    color: #ffffff;
    background-color: red;
}
/* PRODUCT SECTION START */

/* FOOTER START */
.footer{
    padding: 2rem 2rem .5rem 2rem;
    background-color: black;
}
.footer .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer h4{
    margin-bottom: .8rem;
    color: #ffffff; 
}
.footer ul li{
    margin-bottom: .2rem;
    list-style: none;
}
.footer .sec a,p{
    color: #ffffff; 
    text-decoration: none;
}
.sec ul li,h4{
    text-align: center;
}
.footer .sec, .location{
    width: 12rem;
}
.footer .copy-right p{
    margin: 0;
    text-align: center;
    color: #ffffff; 
}
.footer .info .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.footer .info .social a{
    color: #ffffff;
    margin-right: .7rem;
}
.footer hr{
    color: #ffffff;
}
/* FOOTER END */

/* MEDIA QUERIES */
@media screen and (max-width: 1289px) {
    .carousel .carousel-inner .carousel-image .carousel-text{
        width: 20rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-women{
        top: 15rem;
        left: 12rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-men{
        top: 15rem;
        right: 10rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-new{
        top: 17rem;
        right: 6rem;
    }
    .row .product-wrap .product-image .view, .wishlist{
        font-size: .9em;
        padding: 6px 15px;
    }
    .products .product-container .row .product-wrap .product-image .image {
        height: 17rem;
    }
}

@media screen and (max-width: 1206px) {
    .carousel .carousel-inner .carousel-image .carousel-text{
        width: 20rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-women{
        top: 14rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-men{
        top: 15rem;
        right: 10rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-new{
        top: 16rem;
        right: 5rem;
    }
    .row .product-wrap .product-image .view, .wishlist{
        font-size: .86em;
        padding: 6px 15px;
    }
    .products .product-container .row .product-wrap .product-image .image {
        height: 16.5rem;
    }
}

@media screen and (max-width: 1173px) {
    .row .product-wrap .product-image .view, .wishlist{
        font-size: .82em;
        padding: 5px 14px;
    }
    .products .product-container .row .product-wrap .product-image .image {
        height: 16.5rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-men{
        top: 15rem;
        right: 8rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-new{
        top: 16rem;
        right: 4rem;
    }
}

@media screen and (max-width: 1141px) {
    .row .product-wrap .product-image .view, .wishlist{
        font-size: .78em;
        padding: 5px 13px;
    }
    .products .product-container .row .product-wrap .product-image .image {
        height: 16.5rem;
    }
}

@media screen and (max-width: 1107px) {
    .row .product-wrap .product-image .view, .wishlist{
        font-size: .76em;
        padding: 4px 13px;
    }
    .products .product-container .row .product-wrap .product-image .image {
        height: 16rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-new{
        top: 16rem;
        right: 4rem;
    }
}

@media screen and (max-width: 1074px) {
    .carousel .carousel-inner .carousel-image .carousel-text{
        width: 20rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-women{
        top: 14rem;
        left: 11rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-men{
        top: 15rem;
        right: 7rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-new{
        top: 13.5rem;
        right: 3rem;
    }
    .row .product-wrap .product-image .view, .wishlist{
        font-size: .7em;
        padding: 4px 13px;
    }
    .products .product-container .row .product-wrap .product-image .image {
        height: 16rem;
    }
}

@media screen and (max-width: 1024px) {
    .navbar {
        padding: 1rem 0;
    }
    .carousel .carousel-inner .carousel-image .carousel-text{
        width: 18rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-women{
        top: 13rem;
        left: 10rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-men{
        top: 15rem;
        right: 5rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-new{
        top: 11.5rem;
        right: 3rem;
    }
    .products .product-container {
        padding: 0 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .products .product-container .row .product-wrap .product-image .image {
        height: 15rem;
    }
    .footer .sec, .footer .location {
        width: 100%;
        text-align: center;
    }
    .footer .info {
        flex-direction: column;
    }
}

@media screen and (max-width: 880px) {
    .carousel .carousel-inner .carousel-image .carousel-text{
        width: 18rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text p{
        display: none;
    }
    .carousel .carousel-inner .carousel-image .carousel-women{
        top: 12rem;
        left: 9rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-men{
        top: 12rem;
        right: 2rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-new{
        top: 11rem;
        right: -2rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text h1 {
        font-size: 1.8rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text .shop-now{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 800px) {
    .nav-icon{
        display: flex;
        flex-direction: row;
    }
    #carouselExampleAutoplaying{
        height: 25rem;
    }
    .carousel .carousel-inner .carousel-image{
        height: 25rem;
    }
    .carousel .carousel-inner .carousel-image img{
        height: 100%;
        object-fit:cover;
    }
    .carousel .carousel-inner .carousel-image .carousel-new{
        top: 11rem;
        right: -2rem;
    }
}

@media screen and (min-width: 743px) and (max-width: 768px) {
    .navbar .nav-text {
        font-size: 1rem;
    }
    .navbar .icon {
        font-size: 1.2rem;
        margin-right: 0.3rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text{
        width: 18rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-women{
        top: 12rem;
        left: 8.5rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-new{
        top: 11rem;
        right: -3rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text h1 {
        font-size: 1.8rem;
    }
    .products .product-container {
        padding: 0 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .products .product-container .deal-heading{
        padding: 1.8rem 0;
    }
    .products .product-container .deal-heading h1{
        font-size: 1.8rem;
    }
    .row {
        width: 44rem;
    }
    .row .product-wrap .product-image .image {
        height: 13rem;
    }
    .products .product-container .row .product-wrap .product-details .p-text.price {
        font-size: 0.9rem;
    }
    .products .product-container .view-all{
        padding: 2rem 0;
    }
    .products .product-container .view-all a{
        font-size: 1rem;
    }
}

@media screen and (min-width: 673px) and (max-width: 742px) {
    .carousel .carousel-inner .carousel-image .carousel-text h1 {
        font-size: 1.8rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text{
        width: 13rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-women{
        top: 12rem;
        left: 7.5rem;
    }
    .products .product-container .deal-heading{
        padding: 1.7rem 0;
    }
    .products .product-container .deal-heading h1{
        font-size: 1.4rem;
    }
    .row{
        width: 40rem;
    }
    .row .product-wrap .product-details .p-text, .price {
        font-size: .9rem;
    }
    .products .product-container .view-all{
        padding: 1.95rem 0;
    }
    .products .product-container .view-all a{
        font-size: 1rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text .shop-now{
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 655px) and (max-width: 672px) {
    .carousel .carousel-inner .carousel-image .carousel-text h1 {
        font-size: 1.8rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text{
        width: 13rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-women{
        top: 12rem;
        left: 6.5rem;
    }
    .products .product-container .deal-heading{
        padding: 1.7rem 0;
    }
    .products .product-container .deal-heading h1{
        font-size: 1.5rem;
    }
    .row{
        width: 37rem;
    }
    .row .product-wrap .product-details .p-text, .price {
        font-size: .86rem;
    }
    .products .product-container .view-all{
        padding: 1.94rem 0;
    }
    .products .product-container .view-all a{
        font-size: 1rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text .shop-now{
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 595px) and (max-width: 654px) {
    .carousel .carousel-inner .carousel-image .carousel-text h1 {
        font-size: 1.8rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text{
        width: 13rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-women{
        top: 12rem;
        left: 5.8rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-men{
        top: 12rem;
        right: 2rem;
    }
    .products .product-container .deal-heading{
        padding: 1.67rem 0;
    }
    .products .product-container .deal-heading h1{
        font-size: 1.66rem;
    }
    .row{
        width: 35rem;
    }
    .row .product-wrap .product-details .p-text, .price {
        font-size: .86rem;
    }
    .products .product-container .view-all{
        padding: 1.83rem 0;
    }
    .products .product-container .view-all a{
        font-size: .98rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text .shop-now{
        font-size: 1rem;
    }
}

@media screen and (min-width: 571px) and (max-width: 594px) {
    .carousel .carousel-inner .carousel-image .carousel-text h1 {
        font-size: 1.8rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text{
        width: 12rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-women{
        top: 10rem;
        left: 5.6rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text .shop-now{
        font-size: 1rem;
    }
    .products .product-container .deal-heading{
        padding: 1.64rem 0;
    }
    .products .product-container .deal-heading h1{
        font-size: 1.64rem;
    }
    .row{
        width: 33rem;
    }
    .row .product-wrap .product-details .p-text, .price {
        font-size: .85rem;
    }
    .products .product-container .view-all{
        padding: 1.78rem 0;
    }
    .products .product-container .view-all a{
        font-size: .95rem;
    }
}

@media screen and (min-width: 531px) and (max-width: 570px) {
    .carousel .carousel-inner .carousel-image .carousel-text h1 {
        font-size: 1.8rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text{
        width: 12rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-women{
        top: 10rem;
        left: 5.4rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-men{
        top: 12rem;
        right: 0rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text .shop-now{
        font-size: 1rem;
    }
    .products .product-container .deal-heading{
        padding: 1.63rem 0;
    }
    .products .product-container .deal-heading h1{
        font-size: 1.61rem;
    }
    .row{
        width: 31rem;
    }
    .row .product-wrap .product-details .p-text, .price {
        font-size: .85rem;
    }
    .products .product-container .view-all{
        padding: 1.74rem 0 1.85rem 0;
    }
    .products .product-container .view-all a{
        font-size: .93rem;
    }
}

@media screen and (min-width: 501px) and (max-width: 530px) {
    .carousel .carousel-inner .carousel-image .carousel-text h1 {
        font-size: 1.8rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text{
        width: 12rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-women{
        top: 10rem;
        left: 5.2rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-men{
        top: 12rem;
        right: 0rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text .shop-now{
        font-size: 1rem;
    }
    .products .product-container .deal-heading{
        padding: 1.6rem 0;
    }
    .products .product-container .deal-heading h1{
        font-size: 1.61rem;
    }
    .row{
        width: 29rem;
    }
    .row .product-wrap .product-details .p-text, .price {
        font-size: .85rem;
    }
    .products .product-container .view-all{
        padding: 1.72rem 0 1.85rem 0;
    }
    .products .product-container .view-all a{
        font-size: .91rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 500px) {
    .carousel .carousel-inner .carousel-image .carousel-text h1 {
        font-size: 1.7rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text{
        width: 11rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-women{
        top: 10rem;
        left: 5rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-men{
        top: 12rem;
        right: 0rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text .shop-now{
        font-size: 1rem;
    }
    .products .product-container .deal-heading{
        padding: 1.6rem 0;
    }
    .products .product-container .deal-heading h1{
        font-size: 1.61rem;
    }
    .row{
        width: 27rem;
    }
    .row .product-wrap .product-details .p-text, .price {
        font-size: .85rem;
    }
    .products .product-container .view-all{
        padding: 1.69rem 0 1.85rem 0;
    }
    .products .product-container .view-all a{
        font-size: .91rem;
    }
}

@media screen and (min-width: 464px) and (max-width: 480px) {
    .navbar .icon {
        font-size: 1rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text h1 {
        font-size: 1.6rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text{
        width: 10rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-women{
        top: 10rem;
        left: 4.8rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-men{
        top: 12rem;
        right: 0rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text .shop-now{
        font-size: 1rem;
    }
    .products .product-container {
        padding: 0 0.3rem;
    }

    .products .product-container .deal-heading{
        padding: 1.6rem 0;
    }
    .products .product-container .deal-heading h1{
        font-size: 1.61rem;
    }

    .row {
        width: 26rem;
    }

    .row .product-wrap .product-image .image {
        height: 11rem;
    }

    .row .product-wrap .product-details .p-text, .price {
        font-size: .85rem;
    }
    .products .product-container .view-all{
        padding: 1.69rem 0 1.85rem 0;
    }
    .products .product-container .view-all a{
        font-size: .91rem;
    }

    .footer .sec, .footer .location {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }

    .footer .info {
        flex-direction: column;
    }
}

@media screen and (min-width: 427px) and (max-width: 463px) {
    .carousel .carousel-inner .carousel-image .carousel-text h1 {
        font-size: 1.6rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text{
        width: 10rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-women{
        top: 10rem;
        left: 4.3rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-men{
        top: 12rem;
        right: 0rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text .shop-now{
        font-size: 1rem;
    }
    .products .product-container .deal-heading{
        padding: 1.5rem 0;
    }
    .products .product-container .deal-heading h1{
        font-size: 1.57rem;
    }
    .row{
        width: 25rem;
    }
    .row .product-wrap .product-image .image {
        height: 10rem;
    }
    .row .product-wrap .product-details .p-text, .price {
        font-size: .85rem;
    }
    .products .product-container .view-all{
        padding: 1.69rem 0 1.85rem 0;
    }
    .products .product-container .view-all a{
        font-size: .91rem;
    }
}

@media screen and (min-width: 398px) and (max-width: 426px) {
    .carousel .carousel-inner .carousel-image .carousel-text h1 {
        font-size: 1.6rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text{
        width: 10rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-women{
        top: 10rem;
        left: 4.1rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-men{
        top: 12rem;
        right: 0rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text .shop-now{
        font-size: 1rem;
    }
    .products .product-container .deal-heading{
        padding: 1.5rem 0;
    }
    .products .product-container .deal-heading h1{
        font-size: 1.55rem;
    }
    .row{
        width: 23rem;
    }
    .row .product-wrap .product-image .image {
        height: 9rem;
    }
    .row .product-wrap .product-details .p-text, .price {
        font-size: .85rem;
    }
    .products .product-container .view-all{
        padding: 1.67rem 0 1.85rem 0;
    }
    .products .product-container .view-all a{
        font-size: .91rem;
    }
}

@media screen and (max-width: 397px) {
    .carousel .carousel-inner .carousel-image .carousel-text h1 {
        font-size: 1.6rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text{
        width: 10rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-women{
        top: 10rem;
        left: 3.5rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-men{
        top: 12rem;
        right: 0rem;
    }
    .carousel .carousel-inner .carousel-image .carousel-text .shop-now{
        font-size: 1rem;
    }
    .products .product-container .deal-heading{
        padding: 1.5rem 0;
    }
    .products .product-container .deal-heading h1{
        font-size: 1.53rem;
    }
    .row{
        width: 21rem;
    }
    .row .product-wrap .product-image .image {
        height: 4rem;
    }
    .row .product-wrap .product-details .p-text, .price {
        font-size: .85rem;
    }
    .row .product-wrap .product-image .view, .wishlist{
        font-size: .7em;
        padding: 3px 11px;
    }
    .products .product-container .view-all{
        padding: 1.67rem 0 1.85rem 0;
    }
    .products .product-container .view-all a{
        font-size: .91rem;
    }
}
@media screen and (max-width:353px){
    .row .product-wrap .product-image .view, .wishlist{
        font-size: .7em;
        padding: 4px 10px;
    }
}
